<!DOCTYPE html>
<html lang="en">
    <head>
	      <meta charset="utf-8">
	      <meta name="viewport" content="width=device-width, initial-scale=1">
	      <!-- COMMON TAGS -->
	      <title>{{ .Title }}</title>
	      <!-- Search Engine -->
	      <meta name="description" content="{{ .Description }}">
	      <meta name="image" content="{{ $.Param "image" }}">
	      <!-- Schema.org for Google -->
	      <meta itemprop="name" content="{{ .Title }}">
	      <meta itemprop="description" content="{{ .Description }}">
	      <meta itemprop="image" content="{{ $.Param "image" }}">
	      <!-- Google Analytics -->
	      {{ template "_internal/google_analytics_async.html" . }}

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

	      <!-- highlight.js -->
	      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
	      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
	      <script>hljs.initHighlightingOnLoad();</script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>

        <link rel="stylesheet" href="/css/spectre.css">
        <link rel="stylesheet" href="/css/spectre-exp.css">
        <link rel="stylesheet" href="/css/spectre-icons.css">
    </head>
    <body class="bg-gray">
        <div class="container">
        <section id="page-title">
            <div class="text-center" style="margin-top: 1em;">
                <h1><a href="/">{{ .Site.Params.sitename | default "OTLab"}}</a></h1>
            </div>
        </section>


